body {
    margin: 0;
}
#game {
    max-width: 330px;
    margin: 10px auto;
    background: #292929;
    height: 620px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #d4d4d4;
    color: white;
    padding: 15px 10px;
    box-sizing: border-box;
    position: relative;
    
    #dashboard {
        height: 80px;
        .score {
            text-align: center;
            font-size: 26pt;
            font-weight: bolder;
        }
        .next {
            position: absolute;
            right: 22px;
            top: 20px;
            padding: 1px 18px;
            background: #414141;
            border-radius: 8px;
            text-align: center;
            
            div {
                line-height: 1.2;
            }
        }
    }
    
    #chessboard {
        width: 294px;
        margin: 0 auto;
        overflow: hidden;
        height: 480px;
        border-radius: 10px;
        position: relative;
        
        
        #rollingPanel {
            transform: rotate(180deg);
            position: absolute;
        }
    }
}


.game-block {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    margin: 2px;
}
[data-type=android-0] {
    background: #ff00c4;
}
[data-type=android-1] {
    background: #8900ff;
}
[data-type=android-2] {
    background: #0049d3;
}
[data-type=android-3] {
    background: #7cd600;
}
[data-type=android-4] {
    background: #d96400;
}
.ios {
    background: #4e4e4e;
    cursor: pointer;
}
